<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectApp"
        tools:targetApi="31">
        <activity
            android:name=".RedBallPlay"
            android:exported="false" />
        <activity
            android:name=".MainActivitySeasonsPlay"
            android:exported="false" />
        <activity
            android:name=".MainActivityPicturesPlay"
            android:exported="false" />
        <activity
            android:name=".MainActivityMultiplicationPlay"
            android:exported="false" />
        <activity
            android:name=".MainActivityDirectionsPlay"
            android:exported="false" />
        <activity
            android:name=".MainActivityABCPlay"
            android:exported="false" />
        <activity
            android:name=".MainActivity321Play"
            android:exported="false" />
        <activity
            android:name=".MainActivity123Play"
            android:exported="false" />
        <activity
            android:name=".MainActivityMonthsPlay"
            android:exported="false" />
        <activity
            android:name=".MainActivityDaysPlay"
            android:exported="false" />
        <activity
            android:name=".MainActivityDigitalClockPlay"
            android:exported="false" />
        <activity
            android:name=".MainActivityAnalogClockPlay"
            android:exported="false" />
        <activity
            android:name=".MainActivitySeasons"
            android:exported="false" />
        <activity
            android:name=".RedBall"
            android:exported="false" />
        <activity
            android:name=".MainActivityPictures"
            android:exported="false" />
        <activity
            android:name=".MainActivityMultiplication"
            android:exported="false" />
        <activity
            android:name=".MainActivityDirections"
            android:exported="false" />
        <activity
            android:name=".MainActivityABC"
            android:exported="false" />
        <activity
            android:name=".MainActivity321"
            android:exported="false" />
        <activity
            android:name=".MainActivity123"
            android:exported="false" />
        <activity
            android:name=".MainActivityMonths"
            android:exported="false" />
        <activity
            android:name=".MainActivityDays"
            android:exported="false" />
        <activity
            android:name=".MainActivityAnalogClock"
            android:exported="false" />
        <activity
            android:name=".MainActivityDigitalClock"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>